
.fimage-image-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.fimage-image-view__center {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 11%;
  right: 11%;
}
.fimage-image-view__left {
  position: absolute;
  top: 0;
  bottom: 12px;
  left: 0;
  right: 91%;
}
.fimage-image-view__right {
  position: absolute;
  top: 0;
  bottom: 12px;
  left: 91%;
  right: 0;
}

.fimage-image-view__title {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 100px;
  text-align: center;
  background-color: #333;
  padding-top: 12px;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 100%;
  color: #EEE;

}
