
.fimage-logo {
  position: absolute;
  width: 360px;
  top: 35%;
  left: 50%;
  margin-left: -180px;
  color: #EEE;
  text-align: center;
  font-size: 1.4em;
}

.fimage-logo * {
  font-family: sans-serif;
}

.fimage-logo__name:before {
  font-size: 4em;
  content: "fimage.us";
}
.fimage-logo__tagline:before {
  display: inline-block;
  margin-top: 0.7em;
  <!--  Drop tagline while we flesh out what this thing really is!
    content: "\0022 find, fave & share images\0022";
  -->
}

@media screen {
  @media (max-width: 480px) {
    .fimage-logo__name:before {
      font-size: 3em;
    }
  }
}
